.container {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
}

.button {
    margin: 10px;
}

.standart {
    font-size: 40px;
    height: 115px;
    padding-top: 55px;
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}