.settings {
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    margin: 10px;
}

.button {
    margin: 10px;
}